body {
	margin: 0 auto;
}

/*<!-- ___________________________________________
Хедер -->*/

.outhead {
	max-width: 1480px;
	height: 80px;
	margin: 0 auto;
	margin-bottom: 20px;
	background: rgba(39, 174, 96, 0.85);
	border-radius: 0 0 10px 10px;
}

.inner-head {
	padding: 10px;
	margin: 0px 300px 0px 300px;
	text-align: center;
}
.head-font { 
	font-weight: bold;
	font-size: 36pt;
	letter-spacing: 18px
 }
/*_________________________________________________
Секция отладки Grid */
.grid {
	max-width: 1440px;
	margin: 0 auto;
}

.grid-container {
	display: grid;

	grid-template-rows:  1fr 1fr; 
 	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px 10px
}
.grid-container div img{
	position: relative;
	display: flex; 

	align-items: center;
	justify-content: center;

	height: 350px;
	width: 100%;
	border-radius:20px;
}

.one-grid h1{
color: #fff;
position: relative;

}


/*_________________________________________________
hover + opacity in grid*/

.grid-container div{
	opacity: 1;
	transition: 2s
}

.grid-container div:hover {
	opacity: 0.4;
}


/*<!-- _____________________________________________________
text between grid and bar-panel -->*/
.text-between {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;

	font-size: 26pt;
	font-weight: bold;
	text-align: center;
}

.text-between:hover {
	text-decoration: underline;
}

/*________________________________________________
bar-panel*/
.index {
	position: relative;
        display: block;
        max-width: 1440px;
        margin: 0 auto;
   		height: 200px;
}
.inde {
	display: flex;
}

.inde  div{
	flex-direction: row;
	max-width: 350px;
	min-width: 50px
}

.z2 { 
	margin-left: -175px;
	z-index: 10;
}

.z3 { 
	margin-left: -175px;
	z-index: 10
}

.z4 { 
	margin-left: -175px;
	z-index: 10
}

.z5 { 
	margin-left: -175px;
	z-index: 10
}

.z6 { 
	margin-left: -175px;
	z-index: 10
}

.z7 { 
	margin-left: -175px;
	z-index: 10;
}

.z8 { 
	margin-left: -175px;
	z-index: 10;
	width: 100%;
}

.z1 img{ 
	border-radius: 20px 0 0 20px;
}

.z8 img{
	border-radius: 0 20px 20px 0;
}

/*_________________________________________________________
hover & transform for bar-panel*/

.z1 img{
	position: relative;
}
.z1:hover img {
	z-index: 11
}
.z2:hover img{
  transform: perspective(100px) translate3d(-175px, 0, 0px);
  border-radius: 20px 0 0 20px;
}
.z3:hover, .z4:hover, .z5:hover, .z6:hover, .z7:hover img{
	transform: perspective(100px) translate3d(-175px, 0, 0px);
}
/*____________________________________________________________
First-photo-element*/

.photo1{
	display: grid;
	margin: 0 auto;
	max-width: 1440px;
	margin-top: 50px;
}
.photo1 div{
	display: grid;
	grid-template-areas:"post-1 post-1 post-2"
						"post-1 post-1 post-3"
						"post-6 post-5 post-4";
	grid-template-rows: repeat(3,280px);
	grid-template-columns: repeat(3,1fr);
	grid-row-gap: 5px;
	grid-column-gap: 2.5px;
}
.photo1 img{
	width: 300%;
	height: 100%;
	border-radius: 20px;
}
.post-1 {
	grid-area: post-1;
}
.post-2 {
	grid-area: post-2;
}
.post-3 {
	grid-area: post-3;
}
.post-4 {
	grid-area: post-4;
}
.post-5 {
	grid-area: post-5;
}
.post-6 {
	grid-area: post-6;
}



